<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrostFlix</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        
            
            <h1 style= "text-align: center;"> Who are you</h1>

            <div class="Who_are_you">
                <form action="/profile_selection" method="post">
                    
                    <input type="submit" class="submit-btn1"   name="Me" value="Me">
                    <input type="submit" class="submit-btn2" src="/static/img/image2.jpeg" name="Leech" value="Leech">
                    <input type="submit" class="submit-btn3" src="/static/img/image3.png" name="Friends" value="Friends">
                    <input type="submit" class="submit-btn4" src="/static/img/image4.png"name="Kids" value="Kids">
                </form> 
            </div>
        
    </main> 
</body>
</html>